/*header*/
header{
    width: auto;
    height: auto;
    background-color: darkred;
    padding: 10px 32px 10px 32px;
}

/*button*/
button {
    background-color: beige;
    display: flexbox;
    margin: 15px 0px;
    font-size: 15px;
}

/*link*/
a {
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

button.navknop:hover{
    background-color: rgb(20, 2, 181);
    color: aliceblue;
    border-radius: 6px;
    display:flexbox;
    font-size: 20px;
    margin: 15px 0px;
}

button.sendknop:active{
    background-color: green;
    color: white;
}

/*body*/
body {
    background: rgb(40, 195, 247);
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

/*koptekst*/
h1, h2, h3 {
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/*tekst*/
p {
    color: black;
    font: 200;
    font-size: medium;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*table*/
table {
    margin-left: auto;
    margin-right: auto;
    #stijl{
    background-color: aquamarine;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
    border-width: 0.2mm;
    border-color: black;
    padding: 5px 10px;}
}

/*form*/
form {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    #view{margin-left: 1%; margin-bottom: 1%;
    background-color: aquamarine;
    color: black;}
}

/*footer*/
footer {
    width: 960px;
    background-color: darkred;
    color: lightgoldenrodyellow;
    padding: 32px 32px 32px 64px;
    height:auto;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
}